@charset "utf-8";
/* CSS Document */
.navegador{
		display: flex;
		justify-content:space-around;
		align-items: center;
		background-color: black;
		text-decoration-color: white
	}

.navegador a {
	color: white;
	padding: 14px 20px;
	text-decoration: none;
	text-align: center;
}

.navegador a:hover{
	background-color:gray;
}

